
* {
  margin: 0; 
  padding: 0; 
}

ul {
  list-style-type: none; 
}

ul a {
  text-decoration: none;
}

.nav-header {
  padding: 20px; 
  border: 1px solid red; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
} 

.links-container {
  height: 0px; 
  overflow: hidden; 
  transition: all .3s ease-in-out;
}

.links-container.show-container {
  height: 100px; 
  border: 1px solid blue; 
}

.social-icons {
  display: none; 
}

@media screen and (min-width: 800px) {

  .nav-center {
    padding: 20px; 
    /* border: 1px solid yellow;  */
    display: flex; 

    justify-content: space-between;
    align-items: center;
  } 
  .nav-header {
    padding: 0; 
  }
  .nav-toggle {
    display: none; 
  }
  .social-icons {
    display: inline-block;
  }
  .links-container, .links-container.show-container {
    height: auto;
  }
  .links li, .social-icons li {
    display: inline-block
  }
}